section.about 
  .container_big
    .about__top
      h1.about__title Agroton
      .about__descr
        p one of&nbsp;the largest producers of&nbsp;agricultural products in&nbsp;Russia
  .container
    .about__achievements
      a.about__achievement(href="#!")
        .about__achievement-imgbox
          img.about__achievement-img(src="images/about/achievement_1.png" alt="" width=214 height=142)
          btn.about__achievement-arrow
            img(src="images/about/ellipse.png" alt="")
        .about__achievement-content
          h3.about__achievement-title Agroton is&nbsp;among the leaders in&nbsp;wheat production in&nbsp;Russia
          .about__achievement-text 
            p
              span  We&nbsp;rank 
              span 4th in&nbsp;Russia 
              | in&nbsp;terms of&nbsp;wheat production, ensuring high quality grain thanks to&nbsp;modern technologies and fertile Russian fields.
      a.about__achievement(href="#!")
        .about__achievement-imgbox
          img.about__achievement-img(src="images/about/achievement_2.png" alt="" width=214 height=142)
          btn.about__achievement-arrow
            img(src="images/about/ellipse.png" alt="")
        .about__achievement-content
          h3.about__achievement-title Agroton&nbsp;&mdash; number 1&nbsp;in&nbsp;chicken production in&nbsp;Russia
          .about__achievement-text 
            p 
              span We&nbsp;lead the chicken market 
              | in&nbsp;Russia, guaranteeing the highest quality products thanks to&nbsp;modern technologies, safety controls
    dl.about__stats
      .about__stats-item 
        dt 100%
        dd quality of&nbsp;<br>production
      .about__stats-item 
        dt 50%
        dd modern agricultural technologies
      .about__stats-item 
        dt 1.5&nbsp;mil. tons
        dd products we&nbsp;produce every year.
      .about__stats-item 
        dt 10+&nbsp;countries
        dd we&nbsp;export products all over the world.
    .about__progress-text
      p
        span Agroton is&nbsp;the largest diversified vertically
        |  integrated agricultural producer in&nbsp;Russia. Agroton is&nbsp;a&nbsp;regional leader in&nbsp;the cultivation of&nbsp;agricultural crops, livestock farming
    .about__progress-box
      img.about__progress-img(src="images/about/progress.png" alt="" width=340 height=445)
      .about__progress-tablebox
        p.about__progress-boxtext
          | Agroton is&nbsp;
          span 30&nbsp;years
          |  of&nbsp;leadership in&nbsp;the agricultural sector. We&nbsp;cultivate 
          span 200,000+ hectares of&nbsp;land
          | , supply the market with quality products and export 
          span to&nbsp;10+&nbsp;countries
          | . 
          span Our mission is
          | &nbsp;to&nbsp;develop agriculture, introduce innovations and provide people with natural products.
        .about__progress-table
          .about__progress-item 
            dt 
              span &#8470;&nbsp;1&nbsp;
              span in&nbsp;sunflower production in&nbsp;Russia
            dd 48,000 hectares of&nbsp;sown areas.
          .about__progress-item 
            dt 
              span &#8470;&nbsp;4&nbsp;
              span in&nbsp;wheat production
            dd 50,000 hectares of&nbsp;fields.
          .about__progress-item 
            dt 
              span &#8470;&nbsp;1&nbsp;
              span in&nbsp;grain elevator capacity in&nbsp;Luhansk region
            dd 235,000 tons of&nbsp;storage.
          .about__progress-item 
            dt 
              span &#8470;&nbsp;1&nbsp;
              span in&nbsp;poultry production in&nbsp;Luhansk region
            dd 4,000,000&nbsp;chickens.
          .about__progress-item 
            dt 
              span &#8470;&nbsp;5&nbsp;
              span in&nbsp;milk production in&nbsp;Russia
            dd 4,500 dairy cattle.
          .about__progress-item 
            dt 
              span &#8470;&nbsp;2&nbsp;
              span in&nbsp;bakery production in&nbsp;Luhansk
            dd 7,000 tons of&nbsp;products per year.


