section.about 
  .container_big
    .about__top
      h1.about__title Agroton
      .about__descr
        p one of&nbsp;the largest producers of&nbsp;agricultural products in&nbsp;Ukraine
  .container
    .about__achievements
      a.about__achievement(href="#!")
        .about__achievement-imgbox
          img.about__achievement-img(src="images/about/achievement_1.png" alt="" width=214 height=142)
          btn.about__achievement-arrow
            img(src="images/about/ellipse.png" alt="")
        .about__achievement-content
          h3.about__achievement-title Agroton is&nbsp;among the leaders in&nbsp;wheat production in&nbsp;Ukraine
          .about__achievement-text 
            p
              span  We&nbsp;rank 
              span 4th in&nbsp;Ukraine 
              | in&nbsp;terms of&nbsp;wheat production, ensuring high quality grain thanks to&nbsp;modern technologies and fertile Ukrainian fields.
      a.about__achievement(href="#!")
        .about__achievement-imgbox
          img.about__achievement-img(src="images/about/achievement_2.png" alt="" width=214 height=142)
          btn.about__achievement-arrow
            img(src="images/about/ellipse.png" alt="")
        .about__achievement-content
          h3.about__achievement-title Agroton&nbsp;&mdash; number 1&nbsp;in&nbsp;chicken production in&nbsp;Ukraine
          .about__achievement-text 
            p 
              span We&nbsp;lead the chicken market 
              | in&nbsp;Ukraine, guaranteeing the highest quality products thanks to&nbsp;modern technologies, safety controls

