header.header 
  .container
    .header__inner 
      a.logo(href="/index.html")
        img(src="images/logo.png" alt="Agroton Logo")
      nav.header-menu
        ul.header-menu__list
          li.header-menu__item
            a.header-menu__link(href="#!") About company
          li.header-menu__item
            a.header-menu__link(href="#!") Products
          li.header-menu__item
            a.header-menu__link(href="#!") Partners 
          li.header-menu__item
            a.header-menu__link(href="#!") Blog
          li.header-menu__item
            a.header-menu__link(href="#!") Contact
      a.header__contacts(href="#!") Contact us 
